.icon {
    width: 75px;
    height: 75px;
    color: #19ab16;
}

/* .main h1 {
    text-align: center;
}

.main .phone-verify .icon .i {
    width: 75px;
    height: 75px;
    color: #19ab16;
    margin-top: 134px;
}

.main .phone-verify .text {
    margin: 48px 141px;
}

.main .phone-verify .text p {
    text-align: center;
    font: normal normal normal 25px/40px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
}

.main .phone-verify .btn a {
    padding: 13px 199px;
    background: #4375ff 0% 0% no-repeat padding-box;
    border-radius: 7px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
} */
