.icon {
    margin-top: 0px;
    margin-bottom: 40px;
    width: 75px;
    height: 75px;
    color: #19ab16;
}

.reset-password .text {
    margin-left: 101px;
    margin-top: 0px;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 0.5px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 96px;
    width: 500px;
}

.reset-password .btn {
    margin-top: 0;
    margin-left: 101px;
}

.reset-password .btn button {
    width: 500px;
    height: 60px;
    background: #4375ff 0% 0% no-repeat padding-box;
    border-radius: 7px;
    font-size: 25px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.reset-password .btn button a {
    color: #fff;
    text-decoration: none;
}
