.icon{
    width: 75px;
    height: 75px;
    color: #19ab16;
    margin: 0;
    padding: 0;
}


/* .main .email-verify .icon {
    text-align: center;
}

.main .email-verify .icon .i {
    margin-top: 136px;
    width: 75px;
    height: 75px;
    color: #19ab16;
}

.main .email-verify .text {
    text-align: center;
    margin: 41px 196px 109px 196px;
}

.main .email-verify .text p {
    font: normal normal normal 25px/40px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    width: 312px;
    height: 73px;
}

.main .email-verify .link {
    text-align: center;
}

.main .email-verify .link a {
    width: 500px;
    height: 60px;
    background: #4375ff 0% 0% no-repeat padding-box;
    border-radius: 7px;
    padding: 13px 199px 14px 198px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
} */
